{% extends "Layout.html" %}

{% block title %}
    Mercedes E Class
{% endblock %}

{% block main %}
<body style="background-color:lightyellow;">

<form action="/Eclass" method="post">
  
      <div class="form-group">
          <br>
          <br>
          <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/2016_Mercedes-Benz_E220d_AMG_Line_Premium%2B_2.0_Front.jpg" height="112" width="200"> 
          <img src="https://www.drive.gr/sites/default/files/inline-images/Mercedes-Benz%20E-Class%20%2816%29.jpg" length="150" width="200">
          <img src="https://cdn.carbuzz.com/gallery-images/2020-mercedes-benz-e-class-sedan-rear-passenger-seats-carbuzz-398824.jpg" height="112" width="170">
      </div>
      
      <div class="form-group">
          <p><b>Description</b></p>
          
          <p>The Mercedes E Class Sedan is a legend in the automobile industry.This vehicle is suitable for people in the world of businesses.It offers as standard a speedy and stable 4G LTE connection so you can conduct business on the move.
              There is also the possibility for voice emailing, just speak to the car,let it compose and send the email for you and concentrate on the road.As proven at the previous sentences of the description this vehicle can help someone to do business,but
              that is not what it is all about.The 2.0L engine gives plenty of power so you can enjoy some moments of speed and adrenaline.Also 
              the luxurious interior and the 20 speaker system will give an escellent impression to your passengers and turn your car into a moving party.
          </p>
          
          <p><b>Requirements</b></p>
          <p>Every person who is listed as an operator of the vehicle must possess a valid B class (EU) driver's license and be at least 26 years old.
            If those requirements are met, the company will provide full insurance for the vehicle.For your better experience,
            please reserve this particular vehicle at least ten days before your intended dates so that it will be available at the time you need it.
            </p>
      </div>
      
    
</form>    

{% endblock %}