{% extends "Layout.html" %}

{% block title %}
    VW Polo
{% endblock %}

{% block main %}
<body style="background-color:lightyellow;">
<form action="/Polo" method="post">
    
    <div class="form-group">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/VW_Polo_beats_%28VI%29_–_f_03032019_%28exposure_adjusted%29.jpg" width="200" height="120">
        <img src="https://www.drive.gr/sites/default/files/inline-images/CN4J0602.JPG" width="200" height="120">
        <img src="https://uploads.volkswagen-newsroom.com/system/production/media/6936/images/2a3a4b50725b9f6c7d10989aa6a0b5a497e3ed64/DB2014AU00393_blog.jpg?1580882789" width="200" height="120">
    </div>  
    
    <div class="form-group">
        <p><b>VW Polo</b></p>
        
         <p><b>Description</b></p>
         
         <p>
             A classic car , known by everyone by now, this vehicle is here to bring power and performance to your everyday drives.The Polo we are offering is of the TSI EVO version.It boasts an 1.5L engine with 150hp paired with an automatic gear box.
              This car can take you wherever you want, from city commuting to highway driving and long distance travel, the VW polo can do it for you.
              Connectivity includes Bluetooth music streaming, Android Auto and Apple Car-Play, a USB port,AUX and last but not least a CD player. 
         </p>
         
         <p><b>Requirements</b></p>
         <p>Every person who is listed as an operator of the vehicle must possess a valid B class (EU) driver's license and be at least 24 years old.
            If those requirements are met, the company will provide full insurance for the vehicle.
         </p>
    </div>    





{% endblock %}