{% extends "Layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <body style="background-color:lightyellow;">


    <form action="/register" method="post">
        <br>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="InputFirstName">First Name</label>
                <br>
                <input autocomplete="off" autofocus class="form-control mb-2" id="inlineFormInput" name="FirstName" placeholder="First Name" type="text">
            </div>
            <br>
            <div class="form-group col-md-6">
                <label for="InputLastName">Last Name</label>
                <br>
                <input autocomplete="off" autofocus class="form-control" name="LastName" placeholder="Last Name" type="text">
            </div>
        </div>
        <br>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="inputBirthDate">Birth Date</label>
                <br>
                <select name ="BirthDay">
                    <option value="day"> Day</option>
                    <option value="1"> 1</option>
                    <option value="2"> 2</option>
                    <option value="3"> 3</option>
                    <option value="4"> 4</option>
                    <option value="5"> 5</option>
                    <option value="6"> 6</option>
                    <option value="7"> 7</option>
                    <option value="8"> 8</option>
                    <option value="9"> 9</option>
                    <option value="10"> 10</option>
                    <option value="11"> 11</option>
                    <option value="12"> 12</option>
                    <option value="13"> 13</option>
                    <option value="14"> 14</option>
                    <option value="15"> 15</option>
                    <option value="16"> 16</option>
                    <option value="17"> 17</option>
                    <option value="18"> 18</option>
                    <option value="19"> 19</option>
                    <option value="20"> 20</option>
                    <option value="21"> 21</option>
                    <option value="22"> 22</option>
                    <option value="23"> 23</option>
                    <option value="24"> 24</option>
                    <option value="25"> 25</option>
                    <option value="26"> 26</option>
                    <option value="27"> 27</option>
                    <option value="28"> 28</option>
                    <option value="29"> 29</option>
                    <option value="30"> 30</option>
                    <option value="31"> 31</option>

                </select>

                <select name ="BirthMonth">

                    <option value="month"> Month</option>
                    <option value="january"> January</option>
                    <option value="february"> February</option>
                    <option value="march"> March</option>
                    <option value="april"> April</option>
                    <option value="may"> May</option>
                    <option value="june"> June</option>
                    <option value="july"> July</option>
                    <option value="august"> August</option>
                    <option value="september"> September</option>
                    <option value="october"> October</option>
                    <option value="november"> November</option>
                    <option value="december"> December</option>

                </select>

                <select name="BirthYear">

                    <option value="year"> Year</option>
                    <option value="1940"> 1940</option>
                    <option value="1941"> 1941</option>
                    <option value="1942"> 1942</option>
                    <option value="1943"> 1943</option>
                    <option value="1944"> 1944</option>
                    <option value="1945"> 1945</option>
                    <option value="1946"> 1946</option>
                    <option value="1947"> 1947</option>
                    <option value="1948"> 1948</option>
                    <option value="1949"> 1949</option>
                    <option value="1950"> 1950</option>
                    <option value="1951"> 1951</option>
                    <option value="1952"> 1952</option>
                    <option value="1953"> 1953</option>
                    <option value="1954"> 1954</option>
                    <option value="1955"> 1955</option>
                    <option value="1956"> 1956</option>
                    <option value="1957"> 1957</option>
                    <option value="1958"> 1958</option>
                    <option value="1959"> 1959</option>
                    <option value="1960"> 1960</option>
                    <option value="1961"> 1961</option>
                    <option value="1962"> 1962</option>
                    <option value="1963"> 1963</option>
                    <option value="1964"> 1964</option>
                    <option value="1965"> 1965</option>
                    <option value="1966"> 1966</option>
                    <option value="1967"> 1967</option>
                    <option value="1968"> 1968</option>
                    <option value="1969"> 1969</option>
                    <option value="1970"> 1970</option>
                    <option value="1971"> 1971</option>
                    <option value="1972"> 1972</option>
                    <option value="1973"> 1973</option>
                    <option value="1974"> 1974</option>
                    <option value="1975"> 1975</option>
                    <option value="1976"> 1976</option>
                    <option value="1977"> 1977</option>
                    <option value="1978"> 1978</option>
                    <option value="1979"> 1979</option>
                    <option value="1980"> 1980</option>
                    <option value="1981"> 1981</option>
                    <option value="1982"> 1982</option>
                    <option value="1983"> 1983</option>
                    <option value="1984"> 1984</option>
                    <option value="1985"> 1985</option>
                    <option value="1986"> 1986</option>
                    <option value="1987"> 1987</option>
                    <option value="1988"> 1988</option>
                    <option value="1989"> 1989</option>
                    <option value="1990"> 1990</option>
                    <option value="1991"> 1991</option>
                    <option value="1992"> 1992</option>
                    <option value="1993"> 1993</option>
                    <option value="1994"> 1994</option>
                    <option value="1995"> 1995</option>
                    <option value="1996"> 1996</option>
                    <option value="1997"> 1997</option>
                    <option value="1998"> 1998</option>
                    <option value="1999"> 1999</option>
                    <option value="2000"> 2000</option>
                    <option value="2001"> 2001</option>
                    <option value="2002"> 2002</option>
                    <option value="2003"> 2003</option>
                    <option value="2004"> 2004</option>
                    <option value="2005"> 2005</option>
                    <option value="2006"> 2006</option>
                    <option value="2007"> 2007</option>
                    <option value="2008"> 2008</option>
                    <option value="2009"> 2009</option>
                    <option value="2010"> 2010</option>
                    <option value="2011"> 2011</option>
                    <option value="2012"> 2012</option>
                    <option value="2013"> 2013</option>
                    <option value="2014"> 2014</option>
                    <option value="2015"> 2015</option>
                    <option value="2016"> 2016</option>
                    <option value="2017"> 2017</option>
                    <option value="2018"> 2018</option>
                    <option value="2019"> 2019</option>
                    <option value="2020"> 2020</option>
                    <option value="2021"> 2021</option>

                </select>
            </div>
        </div>
        <br>
        <div class="form-row align-items-center">

            <div class="col-auto">
                <label for="exampleInputEmail">Email Address</label>
                <br>
                <input autocomplete="off" class="form-control mb-2" autofocus class="form-control" name="EmailAddress" placeholder="email" type="text">
            </div>
            <br>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="TelephoneNumber">Telephone Number</label>
                <select id="country" onchange="country_code()">

                    <option value="select country">Select Country</option>
                    <option value="GR">&#x1F1EC;&#x1F1F7; Greece</option>
                    <option value="US">&#x1F1FA;&#x1F1F2; United States</option>
                    <option value="BR">&#x1F1E7;&#x1F1F7; Brazil</option>
                    <option value="UK">&#x1F1EC;&#x1F1E7; United Kingdom</option>
                    <option value="UAE">&#x1F1E6;&#x1F1EA; United Arab Emirates</option>
                    <option value="Austria">&#x1F1E6;&#x1F1F9; Austria</option>
                    <option value="Australia">&#x1F1E6;&#x1F1FA; Australia</option>
                    <option value="Belgium">&#x1F1E7;&#x1F1EA; Belgium</option>
                    <option value="Bulgaria">&#x1F1E7;&#x1F1EC; Bulgaria</option>
                    <option value="Canada">&#x1F1E8;&#x1F1E6; Canada</option>
                    <option value="Switzerland">&#x1F1E8;&#x1F1ED; Switzerland</option>
                    <option value="Chile">&#x1F1E8;&#x1F1F1; Chile</option>
                    <option value="China">&#x1F1E8;&#x1F1F3; China</option>
                    <option value="Cyprus">&#x1F1E8;&#x1F1FE; Cyprus</option>
                    <option value="Czech">&#x1F1E8;&#x1F1FF; Czech Republic</option>
                    <option value="Germany">&#x1F1E9;&#x1F1EA; Germany</option>
                    <option value="Denmark">&#x1F1E9;&#x1F1F0; Denmark</option>
                    <option value="Estonia">&#x1F1EA;&#x1F1EA; Estonia</option>
                    <option value="Egypt">&#x1F1EA;&#x1F1EC; Egypt</option>
                    <option value="Spain">&#x1F1EA;&#x1F1F8; Spain</option>
                    <option value="Finland">&#x1F1EB;&#x1F1EE; Finland</option>
                    <option value="France">&#x1F1EB;&#x1F1F7; France</option>
                    <option value="Georgia">&#x1F1EC;&#x1F1EA; Georgia</option>
                    <option value="Croatia">&#x1F1ED;&#x1F1F7; Croatia</option>
                    <option value="Hungary">&#x1F1ED;&#x1F1FA; Hungary</option>
                    <option value="Ireland">&#x1F1EE;&#x1F1EA; Ireland</option>
                    <option value="Israel">&#x1F1EE;&#x1F1F1; Israel</option>
                    <option value="Italy">&#x1F1EE;&#x1F1F9;	 Italy</option>
                    <option value="Lithuania">&#x1F1F1;&#x1F1F9; Lithuania</option>
                    <option value="Norway">&#x1F1F3;&#x1F1F4; Norway</option>
                    <option value="New Zealand">&#x1F1F3;&#x1F1FF; New Zealand</option>
                    <option value="Portugal">&#x1F1F5;&#x1F1F9;	 Portugal</option>
                    <option value="Turkey">&#x1F1F9;&#x1F1F7; Turkey</option>
                    <option value="Russia">&#x1F1F7;&#x1F1FA; Russia</option>

                </select>

                <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control mb-2" placeholder="Phone Number">


            <script>

                function country_code(){
                    var val = document.getElementById("country").value;

                    if (val === "select country"){
                        document.getElementById("PhoneNumber").value=" ";
                    }
                    else if (val === "GR"){
                        document.getElementById("PhoneNumber").value="+30 ";
                    }
                    else if (val === "US"){
                        document.getElementById("PhoneNumber").value="+1 ";
                    }
                    else if (val === "BR"){
                        document.getElementById("PhoneNumber").value="+55 ";
                    }
                    else if (val === "UK"){
                        document.getElementById("PhoneNumber").value="+44 ";
                    }
                    else if (val === "UAE"){
                        document.getElementById("PhoneNumber").value="+971 ";
                    }
                    else if (val === "Austria"){
                        document.getElementById("PhoneNumber").value="+43 ";
                    }
                    else if (val === "Australia"){
                        document.getElementById("PhoneNumber").value="+61 ";
                    }
                    else if (val === "Belgium"){
                        document.getElementById("PhoneNumber").value="+32 ";
                    }
                    else if (val === "Bulgaria"){
                        document.getElementById("PhoneNumber").value="+359 ";
                    }
                    else if (val === "Canada"){
                        document.getElementById("PhoneNumber").value="+1 ";
                    }
                    else if (val === "Switzerland"){
                        document.getElementById("PhoneNumber").value="+41 ";
                    }
                    else if (val === "Chile"){
                        document.getElementById("PhoneNumber").value="+56 ";
                    }
                    else if (val === "China"){
                        document.getElementById("PhoneNumber").value="+86 ";
                    }
                    else if (val === "Cyprus"){
                        document.getElementById("PhoneNumber").value="+357 ";
                    }
                    else if (val === "Czech"){
                        document.getElementById("PhoneNumber").value="+420 ";
                    }
                    else if (val === "Germany"){
                        document.getElementById("PhoneNumber").value="+49 ";
                    }
                    else if (val === "Denmark"){
                        document.getElementById("PhoneNumber").value="+45 ";
                    }
                    else if (val === "Estonia"){
                        document.getElementById("PhoneNumber").value="+372 ";
                    }
                    else if (val === "Egypt"){
                        document.getElementById("PhoneNumber").value="+20 ";
                    }
                    else if (val === "Spain"){
                        document.getElementById("PhoneNumber").value="+34 ";
                    }
                    else if (val === "Finland"){
                        document.getElementById("PhoneNumber").value="+44 ";
                    }
                    else if (val === "France"){
                        document.getElementById("PhoneNumber").value="+358 ";
                    }
                    else if (val === "Georgia"){
                        document.getElementById("PhoneNumber").value="+995 ";
                    }
                    else if (val === "Croatia"){
                        document.getElementById("PhoneNumber").value="+385 ";
                    }
                    else if (val === "Hungary"){
                        document.getElementById("PhoneNumber").value="+36 ";
                    }
                    else if (val === "Ireland"){
                        document.getElementById("PhoneNumber").value="+353 ";
                    }
                    else if (val === "Israel"){
                        document.getElementById("PhoneNumber").value="+972 ";
                    }
                    else if (val === "Italy"){
                        document.getElementById("PhoneNumber").value="+39 ";
                    }
                    else if (val === "Lithuania"){
                        document.getElementById("PhoneNumber").value="+370 ";
                    }
                    else if (val === "Norway"){
                        document.getElementById("PhoneNumber").value="+47 ";
                    }
                    else if (val === "New Zealand"){
                        document.getElementById("PhoneNumber").value="+64 ";
                    }
                    else if (val === "Portugal"){
                        document.getElementById("PhoneNumber").value="+351 ";
                    }
                    else if (val === "Turkey"){
                        document.getElementById("PhoneNumber").value="+90 ";
                    }
                    else if (val === "Russia"){
                        document.getElementById("PhoneNumber").value="+7 ";
                    }
                }

            </script>
            </div>
        </div>
            <br>

        <div class="form-row align-items-center">


                <div class="form-group col-md-6">
                    <label for="exampleInputUsername">Username</label>
                    <input autocomplete="off" autofocus class="form-control" name="Username" placeholder="Username" type="text">
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Password</label>
                    <input  class="form-control" name="Password" placeholder="Password" type="password">
                </div>

                <div class="form-group col-md-6">
                    <label for="exampleInputConfirmation">Confirmation</label>
                    <input class="form-control" name="Confirmation" placeholder="Confirmation" type="password">
                </div>
        </div>
            <br>

            <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
