{% extends "Layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<body style="background-color:lightyellow;">
    <br>
    <br>
<p>Welcome to Vehicle Insider. This online car rental service is the Final Project
    for the CS50 Introuduction to Computer Science for Andreas Georgitsis.
    The service offers rental cars to people who want to visit Greek destinations like 
    Karpathos , Heraklion, Santorini and Rhodes.Feel free to navigate through the site and explore all its  possibilities.
</p>
<br>
<br>


{% endblock %}